<head>
	<title>Todo list</title>
	<link href="styles.css" rel="stylesheet">
	<link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
	<script src="/jquery/jquery.js"></script>
</head>
<body>
<header id="header"></header>
<section>
	<div class="row">
		<div class="columns large-6">
			<div id="app">
			</div>
		</div>
	</div>
</section>
<footer id="footer" class="footer full-width"></footer>
<script src="app.js"></script>
<script src="jquery/jquery.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
</body>
